.site-footer {
  @include background($off-white, $primary-colour);
  padding: rem(45px) 0;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: rem(30px);

    &--legal {
      @include flex-start(column);
      gap: rem(28px);
      @media (min-width: 992px) {
        flex: 1 1 calc(50% - rem(15px));
        max-width: calc(50% - rem(15px));
        gap: rem(40px);
      }
    }

    &--logo {
      img {
          transition: .6s ease-in-out all;
          opacity: 1;
          width: min(100%, rem(200px));

          &:hover {
              opacity: .6;
          }
      }
    }

    &--copyright {
      p {
        margin-bottom: 0;
      }
    }

    &--links {
      @include flex-start(column);
      gap: rem(28px);
    
      @media (min-width: 992px) {
        @include flex-end(column);
        align-items: flex-end;
        gap: rem(40px);
        flex: 1 1 calc(50% - rem(15px));
        max-width: calc(50% - rem(15px));
      }
    }

    &--link {
      &-list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: rem(11px);
      }
      &-item {
        list-style: none;
        a {
          color: $primary-colour;
        }
        
      }
    }

    &--social {
    }

    &--social-list {
      margin: 0;
      padding: 0;
      list-style: none;
      @include flex-start(row);
      gap: rem(12px);
    }

    &--social-item {
      a {

        &:hover {
          i {
            color: $secondary-colour;
          }
        }
        i {
          color: $primary-colour;
          transition: .6s ease-in-out all;
        }
      }
    }
  }
}