@mixin background($background-color, $font-color) {
  background-color: $background-color;
  color: $font-color;
}

// Usage example
// .button {
//     @include background($primary-colour, $white);
//   }


// site container mixin

@mixin center-content($orientation: row) {
    display: flex;
    justify-content: center;
    flex-direction: $orientation;
}

@mixin flex-start($orientation: row){
    display: flex;
    justify-content: flex-start;
    flex-direction: $orientation;
}
@mixin flex-end($orientation: row){
    display: flex;
    justify-content: flex-end;
    flex-direction: $orientation;
}

@mixin flex-center($orientation: row){
    display: flex;
    justify-content: center;
    flex-direction: $orientation;
}

@mixin flex-between($orientation:row){
    display: flex;
    justify-content: space-between;
    flex-direction: $orientation;
}

 @mixin background-image(){
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &::before {
        content: "";
        display: block;
        padding-top: 100%; 
    }

    > * {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
 }