// Colours

$primary-colour: #070e2b;
$secondary-colour: #13DCF2;
$white: #fff;
$green: #00bd79;
$red: #fe5e76;
$off-white: #f7f9fb;

//Fonts

$heading-font: "Lexend Deca", sans-serif;
$body-font: "Lexend Deca", sans-serif;

// Responsive Padding Sizes

$padding-sizes: (
  none: (default: 0,
    sm: 0,
    md: 0,
    lg: 0,
    xl: 0,
    xxl: 0),
  small: (default: 15px 0,
    sm: 20px 0,
    md: 25px 0,
    lg: 30px 0,
    xl: 35px 0,
    xxl: 40px 0),
  medium: (default: 30px 0,
    sm: 35px 0,
    md: 45px 0,
    lg: 55px 0,
    xl: 65px 0,
    xxl: 75px 0),
  large: (default: 50px 0,
    sm: 60px 0,
    md: 70px 0,
    lg: 90px 0,
    xl: 110px 0,
    xxl: 130px 0)
);

// Breakpoints
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
);