.button {
  @include flex-center(row);
  align-items: center;
  gap: rem(20px);
  border-radius: rem(10px);
  padding: rem(12px) rem(17px);
  transition: .6s ease-in-out all;

  @each $name, $value in $colours {
    &-#{$name} {
      background: $value;

      &:hover {
        background: rgba($value, .8)
      }
    }
  }
}