.blog {

    &__search {
        @include background($off-white, $primary-colour);;
        padding: rem(25px) 0;
        
        @media (min-width:1200px){
            padding: rem(40px) 0
        }
    }
    &__archive {
        @media (min-width:1200px){}
        @media (min-width:1200px){}
        @media (min-width:1440px){
            padding: rem(120px) 0
        }
        &--inner {
            display: flex;
            flex-wrap: wrap;
            gap: rem(30px);

            .blog__preview {
                flex: 1 1 100%;

                @media (min-width: 992px) {
                    flex: 1 1 calc(50% - rem(15px));
                    max-width: calc(50% - rem(15px));
                }

                @media (min-width: 1200px) {
                    flex: 1 1 calc(33.333% - rem(20px));
                    max-width: calc(33.333% - rem(20px));
                }
            }
        }
        &--navigation {
            width: 100%;
        }
    }
    
    &__preview {
        @include flex-start(column);
        gap: rem(15px);

        &--image {
            width: 100%;
            height: rem(350px);
            border-radius: rem(8px);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &--meta {
            @include flex-start(column);
            gap: rem(12px);
        }

        &--category{
            a {

            }
        }

        &--title {
            margin: 0
        }

        &--date {
            margin: 0
        }

        &--excerpt {
            p {
                margin-bottom: 0
            }
        }

        &--content {
            @include flex-start(column);
            align-items: flex-start;
            gap: rem(30px);
        }
    }
}